body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



body {
    text-align: center;
    font-family: Arial;
}

.cell_div {
    width: 100%;
    height: 100%;
}
.cell_div:hover {
    background: red;
    opacity: 0.7;
}
.battlefield {
    /*background:url(./sea.jpg);*/

    background: rgba(0, 191, 255, 0.2);
    display: inline-block;
}

.data_about_game {
    display: block;
    text-align: left;
}

.title-number-steps {
    text-align: right;
}

.number-steps {
    text-align: left;
}

.title-number-steps {
}

.min_possible_number_steps_for_win {
    font-size: 15px;
}
.number_steps {
    font-size: 25px;
}
.killed_enemy {
    color: red;
}
.size_battlefield_input {
    width: 30px;
}
#td_margin {
    width: 100px;
}
.name_player {
    text-align: left;
}
.killed_ally {
    color: red;
    font-weight: bold;
}
.ally {
    color: green;
    font-weight: bold;
}
.ally-td {
    text-align: right;
}
.td_whose_turn {
    text-align: center;
    vertical-align: center;
}
.whose_turn {
    color: green;
    font-weight: bold;
    font-size: 40px;
}
.lowel_signature {
    font-size: 20px;
}
.title-battlefield {
    font-weight: bold;
    font-size: 40px;
}
#container-id {
    display: inline-block;
}
.table-battlefield td {
    font-weight: bold;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
    vertical-align: center;
}
.myname {
    font-size: 20px;
    font-weight:bold;
    color: black;
    width: 100px;
}
.enemy-name {
    text-align: right;
    color: red;
}
.td_with_enemy_map {
    text-align: right;
}